{% extends 'base.html' %}
{% block page_title %}謀智台客文章排行榜{% endblock %}

{% block page_css %}
<style>
  img {
    vertical-align: middle;
  }
  td {
    height: 30px;
    overflow: hidden;
  }
  thead {
    background: #D7D3C8;
    position: fixed;
    top: 0;
    height: 22px;
  }
  table {
    margin-top: 20px;
  }
  th.header {
    cursor: pointer;
  }
  th.headerSortUp:after {
    content: "▼";
    display: inline-block;
    font-size: 9px;
  }
  th.headerSortDown:after {
    content: "▲";
    display: inline-block;
    font-size: 9px;
  }
  th.title {
    width: 600px;
  }
  th.author {
    width: 140px;
  }
  th.numbers {
    width: 80px;
  }
  th.date {
    width: 100px;
  }
  td.title {
    width: 600px;
    text-indent: 6px;
  }
  td.title a img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }
  td.author {
    width: 140px;
  }
  td.numbers {
    text-align: right;
    width: 80px;
  }
  td.date {
    text-align: right;
    width: 100px;
  }
  tbody tr:nth-child(even) td:nth-child(odd), tbody tr:nth-child(odd) td:nth-child(even) {
    background: #F6F4EC;
  }
  tbody tr:hover td {
    background: #CAE1F4 !important;
  }
  a, a:link {
    color: #0095DD;
  }
  a:hover {
    color: #00539F;
  }
</style>
{% endblock %}

{% block page_js %}
<script type="text/javascript">
"use strict";

(function() {
  $('.tablesorter').tablesorter({sortList: [[6,1]]});
})();
</script>
{% endblock %}

{% block content %}
<table id="moztech-posts" class="tablesorter">
  <thead>
  <tr>
    <th class="title">標題</th>
    <th class="author">作者</th>
    <th class="numbers">按讚數</th>
    <th class="numbers">留言數</th>
    <th class="numbers">瀏覽人數</th>
    <th class="numbers">瀏覽量</th>
    <th class="date">發佈時間</th>
    <th class="numbers" title="熱門度＝(按讚數x20 + 留言數x10 + 瀏覽量) 除以 (經過天數的平方)">*熱門度</th>
  </tr>
  </thead>
  <tbody>
  {% for path,post in posts.items() %}
  <tr>
    <td class="title">
      <a href="http://tech.mozilla.com.tw{{ path }}" target="_blank">
        <img src="{{ post.thumbnail.decode('utf8') }}"/>{{ post.title.decode('utf8')|safe }}</a>
    </td>
    <td class="author">
      <a href="mailto:{{ post.authorEmail.decode('utf8') }}">{{ post.authorName.decode('utf8') }}</a>
    </td>
    <td class="numbers">{{ post.fbShares }}</td>
    <td class="numbers">{{ post.comments }}</td>
    <td class="numbers">{{ post.uniqueUsers }}</td>
    <td class="numbers">{{ post.pageviews }}</td>
    <td class="date">{{ post.date.strftime('%Y-%m-%d') }}</td>
    <td class="numbers">{{ "%.3f"|format((post.fbShares*20+post.comments*10+post.pageviews)/(1 if (now - post.date).days < 1 else (now - post.date).days)**2) }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
