{% extends "base.html" %}

{% block content %}
<h1>
  官網 (不重覆訪客：)
</h1>
<ul>
  <li>
    <h2>
      <a href="{{ url('mocotw.fx_download') }}">
        下載  Firefox
      </a>
    </h2>
  </li>
</ul>
<h1>
  部落格 (不重覆訪客：)
</h1>
<h1>
  謀智台客 (不重覆訪客：)
</h1>
<h1>
  活力軍 (不重覆訪客：、註冊人數：)
</h1>
<h1>
  電子報 (訂閱人數：、網頁版不重覆訪客：)
</h1>
<ul>
  <li>
    <h2>
      <a href="https://docs.google.com/a/mozilla.com/spreadsheet/ccc?key=0AspVQseE4Eg3dGpVQlI1dGo4Y3BWMHJoMTJmQ3hxQ1E#gid=0">
        電子報寄送統計
      </a>
    </h2>
  </li>
</ul>
<h1>
  粉絲團 (粉絲人數：)
</h1>
{% endblock %}
